:root { 
  --bg-dark: #0a1227;
  --bg-card: #131a2e;
  --bg-card-hover: #1a2338;
  --border-color: #1e3a5f;
  --text-primary: #ffffff;
  --text-secondary: #a0b3cc;
  --accent-blue: #0074e4;
  --accent-hover: #6bb3ff;
  --section-max-width: 1100px;

  --font-titles: 'Bebas Neue', sans-serif;
  --font-body: 'Nunito Sans', sans-serif;
}

/*  NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent-blue);
  z-index: 1000;
  padding: 14px 28px;
  display: flex;
  align-items: center;
}

/* GAUCHE  CENTRE DROITE */
.nav-left {
  margin-right: auto;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-right {
  margin-left: auto;
}

/* LISTE MENUS */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: var(--font-body);
  font-size: 1.15rem;    
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #ffce78;
}

/* LANGUE */
.lang-btn {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.lang-btn img {
    width: 32px;    
    height: auto;
    display: block;
    border: none;
    outline: none;
    object-fit: contain;
}



/* MENU BURGER */
.burger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* MENU CACHÉ EN MOBILE */
@media (max-width: 850px) {
  .nav-center {
    display: none;
  }

  .burger {
    display: block;
    margin-left: auto;
  }

  /* MENU DÉROULANT */
  .mobile-menu {
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    background: var(--accent-blue);
    padding: 20px 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .mobile-menu a {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }

  .mobile-menu.active {
    display: flex;
  }
}
