.projects-section {
  color: var(--bg-dark);
  padding: 60px 8%;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.section-title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "img1 card1"
    "card2 img2";
  gap: 30px;
  max-width: 100%;
  margin: 0 auto;
}

.project-image-box:not(.wide) { grid-area: img1; }
.project-card.text-left { grid-area: card1; text-align: left; }
.project-card.text-right { grid-area: card2; text-align: left; }
.project-image-box.wide { grid-area: img2; }

.project-card {
  background: #0d1b36;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87.5%;
  min-height: 400px;
}
.project-title {
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: var(--text-primary);
}

.project-text-box {
  background: transparent;
  padding: 25px;
  border-radius: 10px;
  color: var(--accent-blue);
  margin-bottom: 20px;
  border: 3px solid #000;
}

.button-row {
  display: flex;
  gap: 20px;
}

.button-row.center { justify-content: center; }

.project-btn {
  background: #1f4df5;
  color: white;
  padding: 20px 60px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.05rem;
  text-decoration: none;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.project-btn:hover {
  background: #335fff;
  transform: translateY(-3px);
}

.project-image-box {
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d1b36;
  height: 100%;
  min-height: 400px; 
}

.project-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}