<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Bee Bridges Interactive</title>
    <link rel="stylesheet" href="Accueil.css">
</head>
<body>


</header>


<section class="hero-section">
    <div class="hero-media">
        <div class="placeholder-media">Image ou Vidéo
            <img src="../media/studio.png" alt="image">
        </div>
    </div>
    <div class="hero-logo">
        <div class="logo-box">
            <img src="BBi.png" alt="Logo Bee Bridges Interactive">
        </div>
    </div>
    <div class="hero-text">
        <div class="text-box">
            <p>Bee Bridge Interactive</p>
        </div>
    </div>
</section>


<section class="studio-section">
    <div class="container">
        <div class="studio-title">
            <h2>Nos studio</h2>
        </div>
        <div class="studio-content">
            <div class="studio-image">
                <div class="placeholder-image">Image</div>
                <img src="../media/studio.png" alt="Logo Bee Bridges Interactive">
            </div>
            <div class="studio-description">
                <div class="description-box">
                    <p>Nos développeurs travaillent dans des conditions optimales afin d’accomplir leurs tâches. </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>