  <footer class="bb-footer">
    <div class="footer-top">
      <img src="media/BBI.png" class="footer-logo">
      <div class="footer-socials">
        <a><img src="media/discord-icon.png"></a>
        <a><img src="media/instagram-icon.png"></a>
        <a><img src="media/tiktok-icon.png"></a>
        <a><img src="media/twitter-icon.png"></a>
      </div>
    </div>  

    <div class="footer-links">
      <a data-translate="about"></a>
      <a data-translate="privacy"></a>
      <a data-translate="support"></a>
      <a data-translate="faq_subtitle"></a>
      <a data-translate="contact"></a>
      <a data-translate="studio"></a>
    </div>

    <p class="footer-copy">Copyright © 2025 Bee Bridges Interactive</p>
  </footer>