<footer class="bb-footer"> 
  <div class="footer-top">
    <img src="media/BBI.png" class="footer-logo">

    <div class="footer-socials">
      <a><img src="media/discord-icon.png"></a>
      <a><img src="media/instagram-icon.png"></a>
      <a><img src="media/tiktok-icon.png"></a>
      <a><img src="media/linkedin-icon.png"></a>
    </div>
  </div>

  <div class="footer-links">
    <a id="legal-link" download data-translate="legal_mentions"></a>
    <a id="privacy-link" download data-translate="legal_privacy"></a>
  </div>

  <p class="footer-copy">Copyright © 2025 Bee Bridges Interactive</p>
</footer>
