<!-- partial/navbar.html -->
<nav class="navbar">
  <ul class="navbar-menu">
    <li>Logo</li>
    <li><a href="index.html" data-translate="home">Accueil</a></li>
    <li><a href="studio.html" data-translate="studio">Studio</a></li>
    <li><a href="team.html" data-translate="team">Équipe</a></li>
    <!-- <li><a href="projects.html" data-translate="projects">Projets</a></li> -->
    <!-- <li><a href="news.html" data-translate="news">Actualité</a></li> -->
    <!-- <li><a href="partners.html" data-translate="partners">Partenaires</a></li> -->
    <!-- <li><a href="faq.html" data-translate="faq">FAQ</a></li> -->
    <li><a href="contact.html" data-translate="contact">Contact</a></li>
    <li><a href=""> Presskit</a></li>
    <li><a href="playtest.html" data-translate="playtest">Playtest</a></li>
    <li>
      <button id="langSwitcher" class="lang-btn"> 
        <img src="https://flagcdn.com/fr.svg">
      </button>
    </li> 
  </ul>
</nav>
