<nav class="navbar">

    <!-- LOGO GAUCHE -->
    <div class="nav-left">
        <img src="media/logo.png" class="nav-logo" alt="Logo" width="64" height="64">
    </div>

    <!-- MENU CENTRÉ -->
    <ul class="navbar-menu">
        <li><a href="index.html" data-translate="home">Accueil</a></li>
        <li><a href="studio.html" data-translate="studio">Studio</a></li>
        <li><a href="team.html" data-translate="team">Équipe</a></li>
        <li><a href="contact.html" data-translate="contact">Contact</a></li>
        <li><a href="playtest.html" data-translate="playtest">Playtest</a></li>
        <li><a href="presskit.html">Presskit</a></li>
    </ul>

    <!-- LANG À DROITE -->
    <div class="nav-right">
        <button id="langSwitcher" class="lang-btn">
            <img id="langFlag" src="/media/fr.png" alt="FR">
        </button>
    </div>

</nav>
