<nav class="navbar">

    <!-- LOGO GAUCHE -->
    <div class="nav-left">
        <img src="media/logo.png" class="nav-logo" alt="Logo" width="64" height="64">
    </div>

    <!-- MENU CENTRÉ -->
    <ul class="navbar-menu">
        <li><a href="index.html" data-translate="home">Accueil</a></li>
        <li><a href="index.html#studio" data-translate="studio">Studio</a></li>
        <li><a href="index.html#team" data-translate="team">Équipe</a></li>
        <li><a href="index.html#contact" data-translate="contact">Contact</a></li>
        <li><a href="index.html#presskit">Presskit</a></li>
        <li><a href="index.html#playtest" data-translate="playtest">Playtest</a></li>   
    </ul>

    <!-- LANG À DROITE -->
    <div class="nav-right">
        <button id="langSwitcher" class="lang-btn">
            <img id="langFlag" src="/media/fr.png" alt="FR">
        </button>
    </div>

</nav>