<!--Actualités Section -->
<section class="actualites">
      <div class="actualites-header">
        <h4 class="title" data-translate="news_subtitle">Actualités</h4>
        <h2 class="subtitle" data-translate="news_title">Nos dernières nouvelles</h2>
        <div class="underline"></div>
      </div>
      <div class="actualites-grid">
        <article class="new-actualite">
          <div class="actualite-image">
            <img src="images/news1.jpg" alt="Actualité 1">
          </div>
          <div class="actualite-content">
            <p class="actualite-text" data-translate="news_text1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac facilisis felis. Vestibulum eu ipsum vehicula, elementum lectus a, vestibulum velit.
            </p>
            <a href="?" class="bouton-voir-plus" data-translate="news_button">Voir plus</a>
          </div>
        </article>
        <article class="new-actualite">
          <div class="actualite-image">
            <img src="images/news2.jpg" alt="Actualité 2">
          </div>
          <div class="actualite-content">
            <p class="actualite-text" data-translate="news_text2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac facilisis felis. Vestibulum eu ipsum vehicula, elementum lectus a, vestibulum velit.
            </p>
            <a href="?" class="btn-voir-plus" data-translate="news_button">Voir plus</a>
          </div>
        </article>
      </div>
    </section>

 <!-- Partners Section -->
    <section class="partners">
      <h4 class="title" data-translate="partners_title">Partenaires</h2>
      <div class="partners-logos">
        <div class="logo-box">
          <img src="images/partner1.jpg" alt="Partenaire 1">
        </div>
        <div class="logo-box">
          <img src="images/partner2.jpg" alt="Partenaire 2">
        </div>
        <div class="logo-box">
          <img src="images/partner3.jpg" alt="Partenaire 3">
        </div>
        <div class="logo-box">
          <img src="images/partner4.jpg" alt="Partenaire 4">
        </div>
      </div>
    </section>
